---
layout: page
title: Post Categories
description: Blog post categories on Nathan Totten's blog.
redirect_from:
  - /category/facebook-c-sdk
  - /category/facebook-sdk
  - /category/node-js
  - /category/notes
  - /category/samples
  - /category/windows-azure
  - /category/windows-azure/page/2
  - /tag/appfabric
  - /tag/asp-net
  - /tag/asp-net-mvc
  - /tag/basecamp
  - /tag/c
  - /tag/cdn
  - /tag/cloud-hosting
  - /tag/email
  - /tag/facebook
  - /tag/facebook-c-sdk
  - /tag/github
  - /tag/google-apps
  - /tag/iis
  - /tag/magento
  - /tag/nodejs
  - /tag/open-source
  - /tag/php
  - /tag/security
  - /tag/social-gaming-toolkit
  - /tag/socket-io
  - /tag/wcf
  - /tag/windows-azure
  - /tag/windows-azure-web-sites
---

<ul class="nav nav-pills">
  {% for category in site.categories order:ascending %}
  <li><a href="#{{ category[0] | downcase | remove:' ' | remove:'.' }}">{{ category[0] }}</a></li>
  {% endfor %}
</ul>
{% for category in site.categories order:ascending %}
<h1 id="{{ category[0] | downcase | remove:' ' | remove:'.' }}">{{ category[0] }}</h1>
<ul class="unstyled">
  {% for page in category[1] %}
  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
