---
layout: content
---

<div class="row">
  <div class="span-main">
    {{ content }}
  </div>
  <div class="span-side">
    <div class="profile">
      <div class="top">
        <div class="photo">
          <a href="//ntotten.com"><img alt="Nathan Totten" src="https://secure.gravatar.com/avatar/d48b998c2dce49ca309710eba498c562.png?s=128" /></a>
        </div>
        <a class="social-rss" href="https://ntotten.com/feed/"></a>
        <a class="social-facebook" href="https://www.facebook.com/totten"></a>
        <a class="social-twitter" href="https://www.twitter.com/ntotten"></a>
        <a class="social-github" href="https://www.github.com/ntotten"></a>
        <a class="social-linkedin" href="https://www.linkedin.com/in/nathantotten"></a>
        <a class="social-stackoverflow" href="https://stackoverflow.com/users/75505/nathan-totten"></a>
      </div>
      <p><span style="font-weight:bold;">Nathan Totten</span> is a Customer Success Engineer at <a href="https://auth0.com">Auth0</a>. Previously, he was a Senior Program Manager on the Microsoft Azure team.</p>
    </div>
  </div>
</div>
