---
layout: content
---

<div class="row">
  <div class="span-main">
    {{ content }}
  </div>
  <div class="span-side">
    <div class="profile">
      <div class="top">
        <div class="photo">
          <a href="http://ntotten.com"><img alt="Nathan Totten" src="http://www.gravatar.com/avatar/d48b998c2dce49ca309710eba498c562.png?s=128" /></a>
        </div>
        <a class="social-rss" href="http://ntotten.com/feed/"></a>
        <a class="social-facebook" href="http://www.facebook.com/totten"></a>
        <a class="social-twitter" href="http://www.twitter.com/ntotten"></a>
        <a class="social-github" href="http://www.github.com/ntotten"></a>
        <a class="social-linkedin" href="http://www.linkedin.com/in/nathantotten"></a>  
        <a class="social-stackoverflow" href="http://stackoverflow.com/users/75505/nathan-totten"></a>
      </div>
      <p><span style="font-weight:bold;">Nathan Totten</span> is a Senior Program Manager on the Microsoft Azure team.</p>
    </div>
    <div class="profile buttons">
      <div>
      <a href="https://twitter.com/ntotten" class="twitter-follow-button" data-show-count="true">Follow @ntotten</a>
      </div>
      <div class="fb-follow" data-href="https://www.facebook.com/totten" data-layout="button_count" data-show-faces="false" data-font="arial" data-width="100"></div>
    </div>
  </div>
</div>
