---
layout: page
---
<article>
  <header>
    <h1 class="entry-title">{{ page.title }}</h1>
  </header>
  {{ content }}
  <hr />
  <p class="article-info">The article was written by Nathan Totten on {{ page.date | date: "%A, %B %d, %Y" }}.</p>
  <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="ntotten">Tweet</a>
</article>